---
http_interactions:
- request:
    method: get
    uri: https://tccna.honeywell.com/WebAPI/api/locations?allData=True&userId=1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Sessionid:
      - 6CB595A4-0BB5-4F2D-B87F-secret
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        [
          {
            "locationID": 1530109,
            "name": "Thuis",
            "username": "mail@example.com",
            "firstname": "John",
            "lastname": "Doe",
            "streetAddress": "Mainstreet",
            "city": "Amsterdam",
            "zipcode": "1010AA",
            "country": "NL",
            "type": "Residential",
            "hasStation": true,
            "devices": [
              {
                "gatewayId": 1379688,
                "deviceID": 1679149,
                "thermostatModelType": "EMEA_ZONE",
                "deviceType": 128,
                "name": "Badkamer",
                "scheduleCapable": false,
                "holdUntilCapable": false,
                "thermostat": {
                  "units": "Celsius",
                  "indoorTemperature": 18.1200,
                  "outdoorTemperature": 128.0000,
                  "outdoorTemperatureAvailable": false,
                  "outdoorHumidity": 128.0000,
                  "outdootHumidityAvailable": false,
                  "indoorHumidity": 128.0000,
                  "indoorTemperatureStatus": "Measured",
                  "indoorHumidityStatus": "NotAvailable",
                  "outdoorTemperatureStatus": "NotAvailable",
                  "outdoorHumidityStatus": "NotAvailable",
                  "isCommercial": false,
                  "allowedModes": [
                    "Heat",
                    "Off"
                  ],
                  "deadband": 0.0000,
                  "minHeatSetpoint": 5.0000,
                  "maxHeatSetpoint": 35.0000,
                  "minCoolSetpoint": 50.0000,
                  "maxCoolSetpoint": 90.0000,
                  "changeableValues": {
                    "mode": "Off",
                    "heatSetpoint": {
                      "value": 18.0,
                      "status": "Scheduled"
                    },
                    "vacationHoldDays": 0
                  },
                  "scheduleCapable": false,
                  "vacationHoldChangeable": false,
                  "vacationHoldCancelable": false,
                  "scheduleHeatSp": 0.0000,
                  "scheduleCoolSp": 0.0000
                },
                "alertSettings": {
                  "deviceID": 1679149,
                  "tempHigherThanActive": true,
                  "tempHigherThan": 30.0000,
                  "tempHigherThanMinutes": 0,
                  "tempLowerThanActive": true,
                  "tempLowerThan": 5.0000,
                  "tempLowerThanMinutes": 0,
                  "faultConditionExistsActive": false,
                  "faultConditionExistsHours": 0,
                  "normalConditionsActive": true,
                  "communicationLostActive": false,
                  "communicationLostHours": 0,
                  "communicationFailureActive": true,
                  "communicationFailureMinutes": 15,
                  "deviceLostActive": false,
                  "deviceLostHours": 0
                },
                "isUpgrading": false,
                "isAlive": true,
                "thermostatVersion": "01.00.07.01",
                "macID": "00D02D8D4977",
                "locationID": 1530109,
                "domainID": 18807,
                "instance": 0
              },
              {
                "gatewayId": 1379688,
                "deviceID": 1679180,
                "thermostatModelType": "EMEA_ZONE",
                "deviceType": 128,
                "name": "Fien",
                "scheduleCapable": false,
                "holdUntilCapable": false,
                "thermostat": {
                  "units": "Celsius",
                  "indoorTemperature": 17.9900,
                  "outdoorTemperature": 128.0000,
                 [...]
